.o-podcasts {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #151515;

  &__container{
    #make-container();
    #make-container-max-widths();
  }

  &__row {
    #make-row()
  }

  &__col {
    #make-col-ready();
    #make-col(4);
  }

  &__title {
    &::after {
      height: 16px;
      background: url('../../assets/icons/play-icon-small.svg');
      background-repeat: no-repeat;
      background-position: center center;
      bottom: 7px;
    }
  }
}
