.o-categorie-post {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #232323;

  &__container {
    #make-container();
    #make-container-max-widths();
    position: relative;
  }

  &__title {
    &::after {
      background: #64D842;
    }
  }

  &__slider {
    margin: 0 auto;
    padding: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__slider-row {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
  }

  &__slider-item {
    flex: 0 0 auto;
  }

  &__slider-arrow {
    position: absolute;
    top: 0;
    cursor: pointer;
    right: @grid-gutter-width / 2;
    width: 36px;
    height: 36px;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border-radius: 2px;
    background: @white;
    transition: background 0.3s;

    svg path {
      stroke: #686868;
    }

    &--disabled {
      cursor: auto;
      background: none;

      svg path {
        stroke: @white;
      }
    }

    &--prev {
      margin-right: 42px;
    }

    &--next {
      svg {
        transform: rotate(180deg);
      }
    }


  }
}
