.c-post-card {
  width: 100%;
  height: 100%;

  &__title {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }

  &:not(.c-post-card--big, .c-post-card--video, .c-post-card--small, .c-post-card--box) {
    border-radius: 5px;
    overflow: hidden;

    .c-post-card {
      &__header {
        position: relative;
        height: 200px;
        width: 100%;
      }

      &__image {
        width: 100%;
        height: 100%;
        #object-fit(cover);
      }

      &__body {
        padding: 30px 30px 39px 30px;
        background-color: @white;
      }

      &__tag {
        margin-bottom: 16px;
        border: 1px solid #E0DEDE;
      }

      &__title {
        font-size: 22px;
        line-height: 30px;
        color: #191919;
        font-weight: @font-weight-bolder;
        margin-bottom: 16px;
        height: 90px;
        overflow: hidden;
      }

      &__meta {
        margin-bottom: 16px;

        a {
          color: #4A4A4A;
          font-weight: @font-weight-semibold;
        }
      }

      &__sub {
        font-size: 14px;
        color: #686868;
      }

      &__cta {
        display: none;
      }
    }
  }

  &--big {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    #media-breakpoint-down(md, {
        flex-direction: column-reverse
      }

    );

    .c-post-card {
      &__header {
        position: relative;
        height: 420px;
        width: 568px;
        flex: 0 0 568px;
        border-radius: 5px;
        overflow: hidden;

        #media-breakpoint-down(md, {
            width: 100%;
            flex: 0 0 auto;
          }

        );

        #media-breakpoint-down(sm, {
         display: none;
        }

      );
      }

      &__image {
        width: 100%;
        height: 100%;
        #object-fit(cover);
      }

      &__body {
        width: 470px;
        flex: 0 0 470px;

        #media-breakpoint-down(md, {
            width: 100%;
            flex: 0 0 auto;
            margin-bottom: 50px;
          }

        );
      }

      &__tag {
        margin-bottom: 26px;
      }

      &__title {
        font-size: 28px;
        line-height: 37px;
        color: @white;
        font-weight: @font-weight-bolder;
        margin-bottom: 8px;
        max-height: 111px;
        overflow: hidden;

        #media-breakpoint-down(sm, {
          font-size: 25px;
          line-height: 36px;
        }
      );
      }

      &__meta {
        margin-bottom: 18px;
      }

      &__sub {
        font-size: 16px;
        line-height: 27px;
        color: #A8A8A8;
      }

      &__cta {
        font-size: 16px;
        line-height: 16px;
        color: @white;
        background-color: @primary;
        border: none;
        font-weight: @font-weight-bold;
        text-transform: capitalize;
        padding: 11px 41px;
        border-radius: 30px;
        margin-top: 46px;
        display: inline-block;
      }
    }
  }

  &--video {
    position: relative;
    height: 432px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

    .c-post-card {
      &__header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background: transparent linear-gradient(180deg, #00000000 0%, #000000E6 100%) 0% 0% no-repeat padding-box;
          z-index: 1;
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        #object-fit(cover)
      }

      &__body {
        position: relative;
        z-index: 2;
        padding: 40px 30px;
      }

      &__tag {
        margin-bottom: 15px;
      }

      &__title {
        font-size: 26px;
        color: @white;
        line-height: 30px;
        font-weight: @font-weight-bolder;
        margin-bottom: 20px;
        height: 134px;
        overflow: hidden;
      }

      &__sub {
        display: none;
      }
    }
  }

  &--music {
    .c-post-card {
      &__header {
        height: 232px !important;
      }

      &__body {
        position: relative;
        z-index: 5;
        margin-top: -50px;
        padding-top: 48px !important;
        background-color: transparent !important;
        background-image: url('../../assets/icons/music-post-card-bg.svg') !important;
        background-repeat: no-repeat;
      }

      &__sub {
        margin-bottom: 60px;
      }

      &__tag {
        position: absolute;
        bottom: 0;
        left: 30px;
        margin-bottom: 36px !important;
      }

      &__play-icon {
        position: absolute;
        top: -26px;
        left: 34px;
        cursor: pointer;
      }
    }
  }

  &--wide {
    height: auto;

    #media-breakpoint-up(lg, {
        display: flex;
        height: 300px;

        .c-post-card {
          &__header {
            flex: 0 0 auto;
            width: 371px !important;
            height: 100% !important;
          }

          &__title, &__meta {
            margin-bottom: 10px !important;
          }
        }
      }

    );
  }

  &--small {
    height: auto;
    width: 274px;
    border-radius: 5px;

    .c-post-card {
      &__header {
        height: 148px !important;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 11px;
      }

      &__image {
        width: 100%;
        height: 100%;
        #object-fit(cover);
      }

      &__title {
        font-size: 18px;
        color: @white;
        font-weight: @font-weight-bold;
      }

      &__sub,
      &__tag,
      &__meta {
        display: none;
      }
    }
  }

  &--box {
    width: 568px;
    height: 439px;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    #media-breakpoint-down(sm, {
        width: 289px;
        height: 375px;
      }

    );

    .c-post-card {
      &__header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: transparent linear-gradient(180deg, #00000000 0%, #000000FC 100%) 0% 0% no-repeat padding-box;
          z-index: 2;
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        #object-fit(cover)
      }

      &__body {
        position: relative;
        z-index: 3;
        padding-left: 35px;
        padding-right: 41px;
        padding-bottom: 45px;

        #media-breakpoint-down(sm, {
            padding: 30px 20px;
          }

        );
      }

      &__tag {
        margin-bottom: 15px;
      }

      &__title {
        font-size: 25px;
        font-weight: @font-weight-bolder;
        color: @white;
        text-transform: capitalize;
        margin-bottom: 20px;

        #media-breakpoint-down(sm, {
            font-size: 22px;
          }

        );
      }

      &__sub {
        display: none;
      }
    }
  }

  &--featured {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: 0;
      left: 0;
      width: 155px;
      height: 50px;
      background: @primary;
      z-index: -1;
      transform: rotate(-45deg) translate(-35px, -50px);
      z-index: 9;
    }

    &::after {
      width: 30px;
      height: 40px;
      top: 0;
      left: 0;
      z-index: 10;
      background-image: url('../../assets/icons/fire.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
